.banner{
    border:1px red solid;
    min-height: 10em;
    text-align: center;
}

h1{
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}